<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Properties>
        <Property name="patternLayout">%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n</Property>
    </Properties>
    <ThresholdFilter/>
    <Appenders>
        <!--<Appender type="Console" name="test">-->
            <!--<Layout type="PatternLayout" pattern="${patternLayout}"/>-->
        <!--</Appender>-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${patternLayout}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>